<section class="editor">
    <header class="editor-header">
        <h1 class="editor-header__title">
            <img class="editor-header__label" src="../../assets/images/editor-header-label.png" /> Getallen en getalpatronen
        </h1>
        <div class="editor-header__buttons">
            <a class="editor-header__button--addslide" ui-sref="editor.addslide"><span class="add-icon">+</span> Scherm toevoegen</a>
            <a class="editor-header__button--bordboek" ui-sref="home"></a>
        </div>
    </header>
    <div class="editor-subheader">
        <h2 class="editor-subheader__title">Overzicht</h2>
    </div>

    <section class="editor-body">
        <!--<ul class="editor__thumbnail-container" [dragula]='"slides-bag"' [dragulaModel]='slides'>-->
        <ul class="editor__thumbnail-container" dragula='"slides-bag"' dragula-model="vm.slides">
            <li class="editor__thumbnail" ng-repeat="slide in vm.slides">
                <span class="thumbnail__number">{{slide.id}}</span>
                <img class="thumbnail__image" ng-src="{{slide.thumb}}" ng-class="{'disabled':!slide.visible}" />
                <div class="thumbnail__hover-container">
                    <img src="../../assets/images/icn-invisible.png" ng-if="!slide.visible" class="thumbnail__hover-image--invisible" />
                    <div class="thumbnail__hover">
                        <a class="thumbnail__button view" ng-class="{'invisible':!slide.visible}" ng-click="vm.toggleVisibility(slide.id)"></a>
                        <a class="thumbnail__button info"></a>
                        <a class="thumbnail__button play" ui-sref="viewer.slide({id: slide.id})"></a>
                        <a class="thumbnail__button edit" ng-if="slide.type === 'user'"></a>
                        <a class="thumbnail__button delete" ng-if="slide.type === 'user'" ng-click="vm.remove(slide)"></a>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <footer class="editor-footer"></footer>
</section>

<wheel></wheel>